@import "tailwindcss";
@theme{
    --color-bg_primary : #d52127;
    --color-bg_secondary : #f5a623;
    --color-bg_tertiary : #f8e9a1;
    --color-text_main : #1a1a1a;
    --color-text_primary : #fafafa;
    --color-text_secondary : #2e3d49;
}